body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: rgb(81, 9, 148);
    color: antiquewhite;
}

.container {
    max-width: 600px;
    margin: auto;
}

#resultContainer {
    display: none;
    margin-top: 20px;
}

#result {
    font-weight: bold;
}